@import '../../styles/variables.scss';

.wrapper {
  height: 1080px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 110px;

  @media (max-width: 786px) {
    height: 1006px;
  }

  @media (max-width: 360px) {
    height: 830px;
    padding-top: 87px;
  }

  .left-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 470px;
    height: 420px;
    animation: left-top .5s ease-in-out forwards;

    @media (max-width: 786px) {
      top: -20px;
      left: -10px;
      width: 255px;
      height: 230px;
    }

    @media (max-width: 360px) {
      width: 150px;
      height: 190px;
    }
  }

  .right-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 280px;
    height: 320px;
    animation: right-top .5s ease-in-out forwards;

    @media (max-width: 786px) {
      width: 240px;
      height: 280px;
    }

    @media (max-width: 360px) {
      width: 170px;
      height: 170px;
    }
  }

  .logo {
    position: relative;
    left: 2px;
    opacity: 0;
    width: 200px;
    animation: .5s animate-opacity .2s ease-in-out forwards;

    @media (max-width: 786px) {
      width: 185px;
      top: -10px;
      //left: 7px;
    }

    @media (max-width: 360px) {
      width: 140px;
      
    }
  }

  .title {
    text-transform: uppercase;
    color: $gray-text-color;
    font-weight: 700;
    font-size: 72px;
    margin-top: 75px;
    text-align: center;
    opacity: 0;
    animation: .5s animate-opacity .4s ease-in-out forwards;

    @media (max-width: 786px) {
      font-size: 36px;
      margin-top: 150px;
    }

    @media (max-width: 360px) {
      margin-top: 55px;
      line-height: 36px;
    }
  }

  .description {
    position: relative;
    top: -12px;
    color: $text-dark-color;
    font-weight: 400;
    max-width: 420px;
    font-size: 18px;
    opacity: 0;
    text-align: center;

    animation: .5s animate-opacity .6s ease-in-out forwards;

    @media (max-width: 786px) {
      top: 0;
      margin-top: 10px;
      font-size: 16px;
      width: 300px;
    }

    @media (max-width: 360px) {
      margin-top: 18px;
    }
  }

  .description-button {
    margin-top: 86px;
    opacity: 0;
    font-weight: 400;
    font-size: 18px;
    color: $text-dark-color;
    animation: .5s animate-opacity 1s ease-in-out forwards;

    @media (max-width: 786px) {
      margin-top: 52px;
      font-size: 16px;
    }  

    @media (max-width: 360px) {
      font-size: 16px;
      letter-spacing: -0.5px;
    }
  }

  .button {
    font-weight: 400;
    opacity: 0;
    font-size: 18px;
    color: #fff;
    margin-top: 12px;
    border: none;
    background-color: $light-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 16px 26px;
    width: 240px;
    border-radius: 30px;
    cursor: pointer;
    animation: .5s animate-opacity 1.2s ease-in-out forwards;

    @media (max-width: 786px) {
      margin-top: 15px;
    }  

    
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 192px;
    width: 100%;
    background-color: $text-dark-blue-color;
    position: relative;
    bottom: 0px;
  }
}

@keyframes left-top {
  from {
    opacity: 0;
    transform: translate(-30px, -30px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes right-top {
  from {
    opacity: 0;
    transform: translate(30px, -30px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-opacity {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
